/* Reset styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Header styles */
header {
  background-image: url('Images/header-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  /* Add additional header styles */
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background: #f9f9f9;

}  
.container {
  width: 90%;
  margin: 0 auto;
}

.project-slideshow {
  max-width: 550px; /* Control the arrow width */
  position: relative;
  margin: auto;
}
.project-slide {
  display: none;
}
.w3-display-container img {
  width: 550px; /* Control the image width */
  height: 500px; /* Control the image height */
}
h2 {
  font-size: 24px; /* Adjust the size as needed */
  color: white;
}
.strong-text {
  font-weight: bold;
}
black-text {
  color: black;
}
#gameContainer {
  width: auto;
  height: 650px;
  border: 1px solid #000;
  margin: 20px auto;
}
.footer-custom {
  padding: 22px; /* Increase padding to make it thicker */
  height: auto; /* Alternatively, you can set a fixed height */
  font-size: 16px; /* Adjust the font size if needed */
}


/* Add more global styles as needed */
